@font-face {
    font-family: 'Marker' ;
    src: url('./font/PermanentMarker-Regular.ttf');
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background: black;
}
header {
    height: 15vh;
    position: sticky;
    top: 0;
}
.nav-bar-container {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
}
.nav-main {
    font-size: 27px;
    letter-spacing: 4px;
    font-family: 'Marker', cursive;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav.left-home:hover ,.nav.left-gallery:hover ,.nav.left-booking:hover ,.nav.left-contact:hover{
    color: #f3d22d;
}
.nav.left {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.nav.right {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
#logo {
    width: 210px;
    height: 155px;
    object-fit: fill;
}
.nav.logo {
    position: relative;
    top: 20px;
    left: 0;
}
main {
    color: white;
    text-align: center;
}
.nav-end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.nav-end button {
padding: 2px 18px;
font-size: 15px;
font-family:'Roboto',sans-serif;
background-color: black;
color: white;
border-radius: 5px;
border: white 2px solid;
}
.nav-end button:hover {
color: #f3d22d;
border-color: #f3d22d;
}
footer {
    text-align: center;
    color: white;
    margin-right: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.logout {
    /* default shoud be none */
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #f3d22d;
}
.copyright {
    font-family:'Roboto',sans-serif;
    display: block;
    font-size: 15px;
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    margin-bottom: 20px;
}
.footer-links i {
font-size: 35px;
}
.footer-links i:hover {
    color: #f3d22d;
}
